h1{
    background-color: rgb(6, 6, 69);
    color: aliceblue;
}
body{
background-color: rgb(231, 222, 199);    
}

.basquete{
    font-size: 25px;
    color: rgb(60, 45, 31);
    background-color: rgb(181, 119, 226);
}

nav a{
    font-size: x-large;
}
